#card {
	margin-right: 15px;
    margin-bottom: 15px;
   
}

.nopadding {
	padding: 0 !important;
}

.card-body {
	text-align: center;
	font-size: 20px;
}

.card-header {
	font-weight: bold;
	font-size: 20px;
}
